<div id="modal-backdrop" class="hidden"></div>

<div id="create-alert-modal" class="hidden">

    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Report a Crime</h3>
            <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="report-input-element">
                <label for="report-text-input">Report</label>
                <textarea id="report-text-input"></textarea>
            </div>
            <div class="report-input-element">
                <label for="report-date-input">Date</label>
                <input type="date" id="report-date-input">
            </div>
            <div class="report-input-element">
                <label for="report-time-input">Time</label>
                <input type="time" id="report-time-input">
            </div>          
            <div class="report-input-element">
                <label for="report-severity-input">Severity</label>
                <input type="range" min="1" max="10" id="report-severity-input">
            </div>  
            <div class="report-input-element">
                {{> dropdown}}
            </div>
            <div class="report-input-element">
                <label for="alert-neighborhood-input">Neighborhood</label>
                <textarea id="alert-neighborhood-input">Neighborhood</textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button">Report</button>
        </div>

    </div>
</div>