<div id="modal-backdrop" class="hidden"></div>

<div id="create-alert-modal" class="hidden">

    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Report a Crime</h3>
            <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="alert-input-element">
                <label for="alert-text-input">Report</label>
                <textarea id="alert-text-input"></textarea>
            </div>
            <div class="alert-input-element">
                <label for="alert-attribution-input">District</label>
                <div class="district_dropdown">
                    <a href="#">N</a>
                    <a href="#">NW</a>
                    <a href="#">NE</a>
                    <a href="#">E</a>
                    <a href="#">SW</a>
                    <a href="#">SE</a>

                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button">Report</button>
        </div>

    </div>
</div>