<div class="map" id="map_class">
    <img src="simpler_portland_map.jpg" alt="Portland" id="map">
    <button type="button" class="dist" id="nw_district"></button>
    <button type="button" class="dist" id="sw_district"></button>
    <button type="button" class="dist" id="se_district"></button>
    <button type="button" class="dist" id="e_district"></button>
    <button type="button" class="dist" id="ne_district"></button>
    <button type="button" class="dist" id="n_district"></button>
</div>

<div class="new_alert" id="insert_alert">
    <button type="button" class="new_alert" id="insert_new_alert">+</button>

</div>