<div class="map" id="map_class">
    <!--portland map created by Karin Ocheretny-->
    <img src="PMap.jpg" alt="Portland" id="map">
    <button type="button" class="dist" id="nw_district"> NW</button>
    <button type="button" class="dist" id="sw_district"> SW</button>
    <button type="button" class="dist" id="se_district"> SE </button>
    <button type="button" class="dist" id="e_district"> E </button>
    <button type="button" class="dist" id="ne_district"> NE</button>
    <button type="button" class="dist" id="n_district"> N</button>
</div>

<div class="new_alert" id="insert_alert">
    <button type="button" class="new_alert" id="insert_new_alert">+</button>

</div>