<div class="map" id="map_class">
    <!--portland map created by Karin Ocheretny-->
    <img src="PMap.jpg" alt="Portland" id="map">
    <button type="button" class="dist" id="nw_district"> <a href="/districts/nw">NW</a></button>
    <button type="button" class="dist" id="sw_district"> <a href="/districts/sw">SW</a></button>
    <button type="button" class="dist" id="se_district"><a href="/districts/se">SE</a></button>
    <button type="button" class="dist" id="e_district"><a href="/districts/e">E</a></button>
    <button type="button" class="dist" id="ne_district"><a href="/districts/ne">NE</a></button>
    <button type="button" class="dist" id="n_district"><a href="/districts/n">N</a></button>
</div>

