<header>
    <!-- <a href="#"><h1 class="site-title">Crime Alerts</h1></a>-->
    <!--logo created by Karin Ocheretny--> 
    <div class="site-title"> <img src="Alerts.png" />

        <div class="navbar">
            <div style="float:right">
                <ul class="navlist">
                    <li class="navitem navlink"><a href="#">Home</a></li>
                    <li class="navitem navlink"><a href="nw">NW</a></li>
                    <li class="navitem navlink"><a href="sw">SW</a></li>
                    <li class="navitem navlink"><a href="se">SE</a></li>
                    <li class="navitem navlink"><a href="e">E</a></li>
                    <li class="navitem navlink"><a href="ne">NE</a></li>
                    <li class="navitem navlink"><a href="n">N</a></li>
                    <li class="navitem navlink"><a href="posts">Posts</a></li>
                    <li class="navitem navlink"><a href="emergency">Emergency Contacts</a></li>



                </ul>
            </div>
        </div>
    </div>
</header>
