<header>
    <!-- <a href="#"><h1 class="site-title">Crime Alerts</h1></a>-->
    <!--logo created by Karin Ocheretny--> 
    <div class="site-title"> <img src="Alerts.png" />

        <div class="navbar">
            <div style="float:right">
                <ul class="navlist">
                    <li class="navitem navlink"><a href="proj.html">Home</a></li>
                    <li class="navitem navlink"><a href="nw.html">NW</a></li>
                    <li class="navitem navlink"><a href="sw.html">SW</a></li>
                    <li class="navitem navlink"><a href="se.html">SE</a></li>
                    <li class="navitem navlink"><a href="e.html">E</a></li>
                    <li class="navitem navlink"><a href="ne.html">NE</a></li>
                    <li class="navitem navlink"><a href="n.html">N</a></li>
                    <li class="navitem navlink"><a href="posts.html">Posts</a></li>
                    <li class="navitem navlink"><a href="emergency.html">Emergency Contacts</a></li>



                </ul>
            </div>
        </div>
    </div>
</header>
