<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Crime Alerts</title>

    <link rel="stylesheet" href="style.css" media="screen">

    <base href="/" />

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>

    <script src="index.js" charset="utf-8" defer></script>

</head>

<body>
{{!--     {{> header}}

    {{{body}}} --}}

    {{> navbar}}

    {{#if mainPage}}
        {{> map}}
    {{/if}}

     {{#if showPosts}}
         {{> post}}
     {{/if}}

    {{#if   showDistrict}}
        {{> d_info}}
    {{/if}}



  

</body>
</html>