<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Crime Alerts</title>


        <script src="index.js" charset="utf-8" defer></script>

        <base href="/" />

        <link rel="stylesheet" href="style.css" media="screen">


    </head>
    <body>
        

        {{> navbar}}

        {{> neighborhoodmap}}

        <main class="district-container">
            {{#each neighborhoods}}
                {{> neighborhood}}
            {{/each}}


        </main>

    </body>
</html>