<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Crime Alerts</title>


        <script src="index.js" charset="utf-8" defer></script>

        <base href="/" />

        <link rel="stylesheet" href="style.css" media="screen">


    </head>
    <body>


        {{> navbar}}

        <main class="district-container">
            <p class="neighbor-List">NEIGHBORHOOD LIST:</p>
            {{#each neighborhoods}}
            {{> neighborhood}}
            {{/each}}

        </main>

        {{> neighborhoodmap}}




    </body>
</html>