<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Crime Alerts</title>

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="index.js" charset="utf-8" defer></script>

</head>

<body>
{{!--     {{> header}}

    {{{body}}} --}}

    {{> navbar}}
    <ul>
        <li class="emergency-numbers">Police: 911</li>
        <li class="emergency-numbers">Mental Health Crisis Line: 503-988-4888</li>
        <li class="emergency-numbers">Down Trees: 503-823-8733</li>
        <li class="emergency-numbers">Sewer/Repair Emergencies: 503-823-1700</li>
        <li class="emergency-numbers">Women's Crisis Line: 503-235-5333</li>
        <li class="emergency-numbers">Water Main Breaks: 503-823-4874</li>
        <li class="emergency-numbers">Spill Reporting Hotline: 503-823-7180</li>
        <li class="emergency-numbers">Traffic Signals Not Working: 503-823-1700</li>
        <li class="emergency-numbers">Police (non-emergency): 503-823-3333</li>
        <li class="emergency-numbers">Noise Control: 503-823-7350</li>
        <li class="emergency-numbers">Towing Information: 503-823-0044</li>

    </ul>
  

</body>
</html>