body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
}


/* Keeps links from changing color when clicked */
a {
    text-decoration: none;
}

/* Makes the new alert button a circle*/
#insert_new_alert, .dist {
    border-radius: 50%;
}

/* Positioning and adjusting the main map on the home page*/
#map {
    position: absolute;
    top: 85px;
    left: 50px;
    width: 1100px;
    height: 800px;
    border-width: 5px;
    border-color: black;
    border: black;
    border-style: groove;
}

.neighborhood-map{
    position: absolute;
    top: 70px;
    left: 50px;
    width: 1100px;
    height: 800px;
    border-width: 5px;
    border-color: black;
    border: black;
    border-style: groove;
}

/* From uiverse.io */
/*https://uiverse.io/detail/cssbuttons-io/funny-dog-69 */
.dist {
    --glow-color: black;
    --glow-spread-color: rgba(1, 24, 232, 0.3);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgba(255, 243, 194, 1);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.dist::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}


.dist:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
}

 .dist:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color), 0 0 2.5em 2em var(--glow-spread-color), inset 0 0 .5em .25em var(--glow-color);
}

/*Individual District buttons on map */

#nw_district {
    top: 290px;
    left: 300px;
}

#sw_district {
    top: 500px;
    left: 300px;
}

#n_district {
    top: 200px;
    left: -180px;
}

#ne_district {
    top: 280px;
    left: 200px;
}

#se_district {
    top: 450px;
    left: 430px;
}

#e_district {
    top: 435px;
    left: 550px;
}

.site-title img{
    width: 10%;
    height: 10%;
}

.site-title {
    display: inline-block;
    margin: 20;
    /* padding: 10px 20px;
    font-size: 30px;
    font-weight: 100;
    background-color: #d3ab6d;
    color: rgb(255, 255, 255);*/
}

.navbar {
    position: absolute;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: 45px;
    margin: 10px;
}

.navlist {
    margin: 0 0 0 20px;
    padding: 15;
    color: white;
    display: inline-block;
    left: 100px;
}

.navitem {
    display: inline-block;
    color: #ffeda3;
}

.navitem:hover {
    color: green;
}

a {
    color: #ffeda3;
}

a:hover,
a:focus {
    color: #d3ab6d;
}

a:focus {
    outline: none;
}

.navlink a {
    padding: 8px 10px;
    display: inline-block;
    color: #ffeda3;}


#insert_new_alert {
    background-color: red;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 60px;
    color: white;
    padding: 0px;
    line-height: 53px;
}

#insert_new_alert:hover,
#insert_new_alert:focus {
    background-color: rgb(17, 255, 0);
    box-shadow: 0px 0px 15px black;
}


.post-container {
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
}

.post {
    flex: 0 1 28%;
    min-width: 256px;
    display: flex;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #fff;
}

.post-content {
    flex: 1 1 80%;
}

.post-content p {
    margin: 10px;
}

.post-content {
    margin-top: 8px;
    text-align: right;
    font-weight: bold;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

.district-container{
    color: white;
    margin:10px;
    position: relative;
    max-height: 100px;
    display:inline-block;
}

#create-alert-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.hidden {
    display: none;
}

.modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}

.modal-close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.report-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.report-input-element label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}

.report-input-element input,
.report-input-element textarea {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
}
h2{
    color: white;
}
.report-input-element textarea {
    min-height: 64px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}


.modal-footer .modal-cancel-button:hover {
    background-color: #eee;
}

.modal-footer .modal-accept-button {
    background-color: #ffeda3;
    color: black;
}

.modal-footer .modal-accept-button:hover {
    background-color: #ffeda3;
    color: black;
}

li {
    list-style: none;
}
.emergency-numbers{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float:none;
    font-weight: 600;
    margin-top: 15px;
    color: #ffeda3;
    list-style: none;

}